$primary-color: #8a00d4;
$primary-light: #c95fff;
$primary-25: rgba(201, 95, 255, 0.25);

$secondary-color: #00ffe0;

$accent-color: #f4f2fc;

$text-color: #1a1a1a;
$text-color-light: rgba(26, 26, 26, 0.6);

$footer-color: #000508;

$white: #ffffff;
$bg-color: white;


$corner-radius: 8px;
